/*
      Major Sixth Modular Scale:
      http://www.modularscale.com/?22&px&1.667&web&text
    */
html {
  text-align: center;
  }
/* 1st header */
h1 {
  text-align: center;
  padding: 1em;
  font: 36px monospace;
  border: 5px solid;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: red;
}
/* paragraph description */
p {
  text-align: center;
  font: 30px serif;
  padding: 2px;
  margin-bottom: 2em;
  color: black;
}
/* HTML user input form */
form {
  font: 30px serif;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding: 2em;
  border: 5px solid black;
  border-radius: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white;
}
/* Adding a navigation bar */
#navigation {
	text-align: center;
	font-family: 20px arial;
	margin-top: 1em;
}
/* Adding a spanning section */
span {
	color: black;
	font-weight: bold;
}
/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}